*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.g-bd{
    z-index: 1;
    position: relative;
}
.bannerWraper{
    position: relative;
    height: 450px;
    overflow: hidden;
}
.bannerWraper-au{
    position: relative;
    width: 1090px;
    height: 450px;
    overflow: hidden;
    margin: 0 auto;
    z-index: 99;
}
.bannerWraper-au-next{
    right: -1090px;
    position: absolute;
    top: 0;
    width: 1090px;
    height: 450px;
    z-index: 1;
    cursor: pointer;
    background-color: #999;
    filter: alpha(opacity=80);
    opacity: .8;
    transition: all .5s;
}
.bannerWraper-au-prev{
    left: -1090px;
    position: absolute;
    top: 0;
    width: 1090px;
    height: 450px;
    z-index: 1;
    cursor: pointer;
    background-color: #999;
    filter: alpha(opacity=80);
    opacity: .8;
    transition: all .5s;
}
.bannerWraper-au .swipers1{
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -545px;
    margin-right: -545px;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swipers1 .nexts{
    display: none;
}
.swipers1:hover .nexts{
    display: block;
}
.swipers1 .prevs{
    display: none;
}
.swipers1:hover .prevs{
    display: block;
}
.row{
    width: 100%;
    /* max-width: 1090px; */
    position: relative;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}
.m-yxRcmd {
    width: 1090px;
    height: 473px;
    margin: 0 auto;
}
.w-TtLine{
    height: 48px;
    line-height: 48px;
    padding-bottom: 20px;
}
.w-TtLine .tt{
    float: left;
    font-size: 28px;
    color: #333;
    line-height: 28px;
    font-weight: 400;
}
.w-TtLine .more {
    float: right;
    height: 28px;
    padding-top: 14px;
    line-height: 1;
    font-size: 14px;
    color: #999;
    text-decoration: none;
}
.yxRcmdBd{
    height: 385px;
    box-sizing: border-box;
}
.yxRcmdBd .w-yxRcmdItem{
    width: 525px;
    height: 385px;
    float: left;
    box-sizing: border-box;
    margin-right: 20px;
}
.yxRcmdBd .w-yxRcmdItem a{
    box-sizing: border-box;
    text-decoration: none;
    float: left;
    display: block;
    color: #333;
}
.yxRcmdBd .w-yxRcmdItem .yxRcmdBox .img{
    width: 525px;
    height: 315px;
    border: 0;
    transition: all 1s;
}
.yxRcmdBd .w-yxRcmdItem .yxRcmdBox:hover .img{
    transform: scale(1.05);
}
.yxRcmdBd .w-yxRcmdItem .yxRcmdBox .yxRcmdTt{
    font-weight: 400;
    padding-top: 14px;
    font-size: 18px;
    line-height: 30px;
    color: #333;
}
.yxRcmdBd .w-yxRcmdItem .yxRcmdBox .yxRcmdTt:hover{
    color: #b4a078;
}
.yxRcmdBd .w-yxRcmdItem .yxRcmdBox .yxRcmdSubTt{
    line-height: 26px;
    font-size: 14px;
    color: #999;
    overflow: hidden;
}
.rows{
    width: 100%;
    /* max-width: 1090px; */
    position: relative;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}
.m-pickRcmd{
    height: 612px;
    width: 1090px;
    margin: 0 auto;
}
.pickRcmdBd{
    height: 410px;
    margin: 18px -16px 0 0;
}
.w-pickItem {
    float: left;
    margin-right: 14px;
    color: #333;
    width: 260px;
    height: 410px;
    border: 1px solid#eaeaea;
    font-size: 14px;
    text-decoration: none;
    color: #333;
}
.w-pickItem:hover {
    box-shadow: 0 0 16px 1px rgba(0,0,0,.1);
}
.w-pickItem .pickItemHd {
    height: 260px;
    overflow: hidden;
}
.w-pickItem .pickItemHd .imgs{
    width: 260px;
    height: 260px;
    background-color: #f4f4f4;
    color: #f4f4f4;
}
.w-pickItem .pickItemBd {
    padding: 0 18px;
    text-decoration: none;
    color: #333;
}
.w-pickItem .pickItemBd .pickerInfo{
    position: relative;
    height: 40px;
}
.w-pickItem .pickItemBd .pickerInfo .avatarWrap{
    position: absolute;
    top: -30px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #fff;
}
.w-pickItem .pickItemBd .pickerInfo .avatarWrap .avatar{
    border-radius: 100%;
    padding: 8px;
    width: 44px;
    height: 44px;
}
.w-pickItem .pickItemBd .pickerInfo .nickName {
    padding: 12px 0 0 61px;
    color:#333;
    font-size: 14px;
    text-decoration: none;
}
.w-pickItem .pickItemBd .pickItemTitle {
    margin: 10px 0 6px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.w-pickItem .pickItemBd .pickItemText {
    height: 40px;
    line-height: 20px;
    color: #999;
}
.bg{
    background-color: #f5f5f5;
    padding-bottom: 80px;
    height: 956px;
}
.m-topicModule{
    width: 1090px;
    margin: 0 auto;
}
.m-bg .w-TtLine{
    padding: 80px 0 20px;
}
.praiseBd{
    height: 360px;
    box-sizing: border-box;
    background-color: #fff;
}
.praiseBd a{
    display: inline-block;
    text-decoration: none;
    color: #333;
}
.w-praiseItem {
    position: relative;
    float: left;
    width: 350px;
    height: 180px;
    margin-right: 13px;
}
.w-praiseItem .lt{
    width: 180px;
    height: 180px;
    float: left;
    overflow: hidden;
}
.w-praiseItem .lt .imge{
    width: 180px;
    height: 180px;
    transition: transform 1s;
    background-color: #fff;
}
.w-praiseItem .gt {
    width: 160px;
    box-sizing: border-box;
    padding-right: 10px;
    margin: 46px 0 0 190px;
}
.w-praiseItem .gt .name {
    width: 150px;
    font-size: 16px;
    line-height: 26px;
    color: #333;
    max-height: 52px;
    overflow: hidden;
    font-weight: 400;
}
.w-praiseItem .gt .desc {
    width: 150px;
    padding-top: 12px;
    font-size: 14px;
    color: #999;
}
.w-praiseItem::after {
    content: '';
    position: absolute;
    right: -8px;
    top: 50px;
    width: 10px;
    height: 80px;
    border-right: 1px solid #eaeaea;
}
.sepcialSeriesBd{
    height: 260px;
    box-sizing: border-box;
}
.sepcialSeriesBd .w-seriesItem{
    float: left;
    width: 535px;
    height: 260px;
    position: relative;
}
.w-seriesItem:first-child {
    margin-right: 20px;
}
.sepcialSeriesBd .w-seriesItem .imgCover{
    position: absolute;
    left: 0;
    top: 0;
    width: 535px;
    height: 260px;
    overflow: hidden;
}
.w-seriesItem .imgCover .img {
    width: 535px;
    height: 260px;
    transition: transform 1s;
}
.w-seriesItem .imgCover:hover .img {
    transform: scale(1.05);
}
.w-seriesItem .textBox {
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    color: #666;
    font-size: 18px;
}
.w-seriesItem .textBox .specialName {
    margin-top: 77px;
    font-size: 24px;
    color: #333;
    line-height: 1;
    font-weight: 400;
}
.w-seriesItem .textBox .specialDesc {
    padding: 16px 0 30px;
    line-height: 1;
}
.w-seriesItem .textBox .specialNum {
    height: 27px;
}
.m-yx{
    width: 100%;
    background-color: #fff;
}
.m-topicModules {
    width: 1090px;
    margin: 0 auto;
}
.space{
    height: 801px;
}
.space .w-TtLine {
    padding: 80px 0 20px;
}
.space .yxSpaceBd {
    color: #333;
    overflow: hidden;
}
.space .w-yxSpaceTabList {
    height: 72px;
    color: #666;
    line-height: 70px;
    text-align: center;
    border-left: 1px solid#eaeaea;
}
.space .w-yxSpaceTabList .tabItem {
    box-sizing: border-box;
    width: 362px;
    color:#666;
    float: left;
    border-left: none;
    font-size: 18px;
    cursor: pointer;
    background-color:#f5f5f5;
    border: 1px solid#eaeaea;
}
.space .w-yxSpaceTabList .tabItem.active {
    color: #333;
    background-color:#fff;
    border-bottom-color:#fff;
}

.space .w-tabCont{
    position: relative;
    border: 1px solid #eaeaea;
    border-top: none;
    padding: 40px 100px 40px 50px;
    height: 601px;
    box-sizing: border-box;
}
.space .w-tabCont .maincont{
    box-sizing: border-box;
    width: 938px;
    height: 520px;
    overflow: hidden;
}
.space .w-tabCont .maincont01{
    box-sizing: border-box;
    width: 938px;
    height: 520px;
}
.space .w-tabCont .maincont01 .maincontop {
    margin-bottom: 30px;
    height: 40px;
    text-align: left;
}
.space .w-tabCont .maincont01 .maincontop .lt{
    float: left;
    margin-right: 25px;
    width: 20px;
    height: 40px;
    color: #B4A078;
    opacity: .5;
    font-size: 40px;
    line-height: 1;
    background-image:url(../img/index3.png);
    background-repeat: no-repeat;
}
.space .w-tabCont .maincont01 .maincontop .rt {
    margin-left: 45px;
    height: 40px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
}
.space .w-tabCont .maincont01 .mainBottom {
    display: block;
    width: 940px;
    height: 450px;
    position: relative;
}
.space .w-tabCont .maincont01 .mainBottom .imgse{
    width: 940px;
    height: 450px;
}
.space .w-tabCont .maincont01 .mainBottom .mainCover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all .5s;
    background-color: #333;
}
.w-tabCont .maincont01 .mainBottom:hover .mainCover {
    display: block;
    opacity: 0.5;
}
.space .w-tabCont .maincont01 .mainBottom .dropBtn {
    display: none;
    position: absolute;
    top: 207px;
    left: 425px;
    width: 90px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 40px;
    text-align: center;
    font-size: 16px;
    color:#fff;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}
.w-tabCont .maincont01 .mainBottom:hover .dropBtn {
    display: block;
}
.w-tabCont .sideCont {
    position: absolute;
    width: 370px;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(320px);
    transition: transform .5s;
}
.w-tabCont .sideCont .sideBar {
    float: left;
    width: 50px;
    height: 600px;
    background-color: #E8E2D6;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color:#B4A078;
}
.w-tabCont .sideCont .sideBd {
    margin-left: 50px;
    height: 600px;
    padding: 30px 20px 0;
    overflow: hidden;
    background-color: #fff;
}
.w-tabCont .sideCont .sideBd .topicItem {
    display: block;
    width: 280px;
    height: 168px;
    margin-bottom: 20px;
    color: #333;
    font-size: 14px;
    line-height: 1;
}

.timing{
    height: 544px;
}
.timing .w-TtLine {
    padding: 80px 0 20px;
}
.timing .yxTimingBd{
    width: 1090px;
    height: 416px;
}
.timing .yxTimingBd .lt {
    float: left;
    width: 740px;
    height: 416px;
    position: relative;
    overflow: hidden;

}